.project {
    background-color: #a27365;
    font-family: "Montserrat", sans-serif;
    color: #fff;
  }
  
  .project h1 {
    text-align: center;
    padding-bottom: 2%;
  }
  
  .project-button {
    margin: 1% 3% 0% 0%;
  }
  